.card{
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

.back{
    background-color: antiquewhite
}
.face{
    background-color: cyan

}
.hide{
    visibility: hidden;
}